*{
  box-sizing: border-box;
}

/* utility class */
.verde{
  background-color: green;
}

.rosso{
  background-color: red;
}
/* / utility class */

.container{
  text-align: center;
}

.box{
  padding: 30px;
}

.riquadro{
  width: 300px;
  height:372px;
  position: relative;
  display: inline-block;
}

.riquadro > .badge{
  position: absolute;
  top: 0;
  right: 0;
}

.cuore{
  color: red;
  font-size: 50px;
  position: absolute;
  bottom: 0;
  left: 47%;
  display: none;
}

.img:hover + .cuore  {
  display: block;

}
